@model IEnumerable<ControleVeiculos2019.Models.Car>
@{
    ViewBag.Title = "Carros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>Sorry, we don't have any car to display.</p>
}
else
{
    <table class="table table-bordered table-hover" style="width: 80%;">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Valor</th>
                <th>Adicionado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <a >
                    <tr>
                        <td>
                            @car.CarBrand.BrandName
                        </td>
                        <td>
                            @car.ModelName
                        </td>
                        <td>@car.Year</td>
                        <td>@car.Price.ToString("#,###.00")</td>
                        <td>@car.DateAdded.ToString("dd/MM/yyyy")</td>
                        <td><a href="~/Cars/details/@car.Id">Detalhes</a></td>
                    </tr>
                </a>
            }
        </tbody>
    </table>
}
